<div>
    <!--
        <div class="bloque-a">
        <h1>Bloque A:</h1>
        <app-perfil></app-perfil>
        <app-contador></app-contador>
    </div>
    
    <div class="bloque-b">
        <h1>Bloque B:</h1>
        <app-alumno-lista-e5></app-alumno-lista-e5>
        <app-padre-alerta-e6></app-padre-alerta-e6>
        <app-tabla-e7></app-tabla-e7>
        <app-buscador-e8></app-buscador-e8>
    </div>
    -->

    <div class="bloque-c">
        <h1>Bloque C:</h1>
        <!--<app-padre-tarea-e9></app-padre-tarea-e9>-->
        <app-segundo-padre-tarea-e10></app-segundo-padre-tarea-e10>
    </div>
</div>